@import "tailwindcss";

* {
  scrollbar-color: #fbbf24 #1f2937;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1f2937;
}

*::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #fcd34d;
}
